body{
  font-family: outfit;
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  margin: 0;
}

.container{
  background-color: hsl(216, 50%, 16%);
  border-radius: 12px;
  margin-top: 150px;
  width: 90%;
  height: 620px;
  max-width: 375px;
  padding: 0.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-top: 200px;
  margin-bottom: 200px;
  }

  @media screen and (min-width: 1440px) {
    .container{
      max-width: 400px;
    }
    
    .title-info{
      font-size: 1rem;
    }

    .countdown-timer-flex{
      font-size: 1rem;
    }

    .footer-div{
      font-size: 0.95rem;
    }
  }

  .image-equilibrium-div{
  display: flex;
  justify-content: center;
  align-items: center;

  }

.image-equilibrium{
  width: 90%;
  margin-top: 10px;
  border-radius: 10px;
}

.image-name{
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 18px;
}

.title-info{
  margin: 18px;
  margin-bottom: 18px;
}

.image-info{
  color: hsl(215, 32%, 27%);
  font-size: 20px;
}

.countdown-timer-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
  margin-bottom: 18px;
}

.icon-decimal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.decimal{
  color: hsl(178, 100%, 50%);
  margin-left: 8px;
}

.clock-count-number{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.count-number{
color: hsl(215, 32%, 27%);
margin-left: 8px;
}

hr{
  border-style: solid;
  border-color: hsl(215, 32%, 27%);
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.footer-div{
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-bottom: 100px;
}

.image-avatar{
  height: 30px;
  margin-right: 15px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.profile{
  color: hsl(215, 32%, 27%);
}

span{
  color: hsl(0, 0%, 100%);
  margin-left: 4px;
}
  